.flex-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.flex-item {
  border: var(--flex-item-border) solid black;
  height: var(--flex-item-height);
  margin-bottom: var(--flex-item-margin);
  margin-left: var(--flex-item-margin);
  margin-right: var(--flex-item-margin);
  margin-top: var(--flex-item-margin);
  width: var(--flex-item-width);
}

/* Alter flex-container to fit on smaller screens (e.g. mobile devices) */
@media screen and (max-width: 500px) {
  .flex-container {
    display: block;
  }
}
